<h1>New Reading</h1>
<%= form_with scope: :reading, url: readings_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :moisture_level_status %><br>
    <%= form.text_area :moisture_leve_lstatus %>
  </p>

   <p>
    <%= form.label :soil_moisture_status %><br>
    <%= form.text_area :soil_moisture_status %>
  </p>

  <p>
    <%= form.label :water_pump_status %><br>
    <%= form.text_area :water_pump_status %>
  </p>

  
 
  <p>
    <%= form.submit %>
  </p>
<% end %>
